.authContainer {
  width: 400px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
input {
  padding: 10px;
  border: 1px solid #ccc;
}
button {
  padding: 10px;
  background: black;
  color: white;
}
